body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
}
